<section>
  
    <div class="categories container my-5 py-5">
      <h2 class="h3 my-3 ml-6 font-extrabold  text-2xl">All Categories</h2>
      <div class=" my-3 container w-[90%] mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
        @for (category of catergoriesData; track category._id) {
            
            <div (click)="getCategoryProducts(category._id)" class=" cursor-pointer ">
            <div class="border border-green-500 p-2 rounded-2xl overflow-hidden w-full ">
            <img [src]="category.image" [alt]="category.name" class="h-[150px] w-full object-contain "/>
            
            <h3 class="text-green-600 text-xl text-center my-3 mx-2"> {{category.name }}</h3>
           </div>
        </div>
    
        }
      </div>
    </div>
</div>
@if (categoryProducts) {
  
  @if (categoryProducts.length==0) {
    <h1 class="flex justify-center mb-3 font-black text-green-500 text-4xl ">No products found of that Category</h1>
  }
  <h3 class="text-3xl text-green-500 font-black my-3 flex justify-center">No Of Category Products:{{NoOfProducts}}</h3>
  <div class="container mx-auto">
    <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
        @for (product of categoryProducts  ; track product.id) {
        <div class="product cursor-pointer p-4" >
            <div [routerLink]="['/product-details',product._id]" >
            <div class="mt-4">
                <img [src]="product.imageCover" [alt]="product.title">
            </div>
            <div class="mt-4">
                <h2 class="text-main">{{product.category.name}}</h2>
                <h1 class="font-black">{{product.title.split(' ').slice(0,3).join(' ')}}</h1>
            </div>
            <div class="mt-4 flex flex-wrap justify-between">
                <h3>{{product.price}}</h3>
                <span><i class="rating-color fa-solid fa-star"></i>{{product.ratingsAverage}}</span>
            </div>
        </div>
            <div class="mt-4">
                <button (click)="AddToCart(product.id)" class="btn-main w-3/4 mx-auto block">+Add to cart</button>
            </div>
        </div>
        }
    </div>
  </div>
}
</section>
