<section class="bg-slate-200 rounded-md shadow-md relative p-4 my-6 mx-auto w-2/3 ">
    <h1 class="text-2xl text-green-500 font-bold">Reset Password:</h1>
    @if (errText){
        <span class="bg-red-300 absolute top-5 end-5">{{errText}}</span>
    }
    @if (successText) {
        <span class="bg-green-300 absolute top-5 end-5">{{successText}}</span>
    }
    
    
    <form [formGroup]="resetpassword">
        <label for="email" class=" my-3 block mb-2 text-sm font-medium text-gray-900 dark:text-white">email</label>
        <input type="email" formControlName="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <button (click)="resetPassword()"  class=" my-3 btn rounded-xl bg-green-400 text-white p-4 disabled:bg-slate-300 ">Reset Password <i class="fa-solid fa-right-to-bracket"></i></button>
    </form>


</section>